@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }

  body {
    @apply bg-white text-gray-900;
  }

  /* RTL Support */
  [dir='rtl'] {
    direction: rtl;
  }

  [dir='ltr'] {
    direction: ltr;
  }
}

@layer utilities {
  /* Logical properties for RTL support */
  .ms-auto {
    margin-inline-start: auto;
  }

  .me-auto {
    margin-inline-end: auto;
  }
}
